# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.SynologyCloudSyncTool.iml
# Datasource local storage ignored files
/../../../../../../../:\MyProjects\SynologyCloudSyncTool\SynologyCloudSyncTool\.idea\.idea.SynologyCloudSyncTool\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
